$PRIMARY1: #6ee2f5;
$PRIMARY2: #6454f0;
$PRIMARY3: #9114aa;
$PRIMARY4: #a69ef0;
$PRIMARY5: #ee9ca7;
$PRIMARY6: #ffdde1;
$PRIMARY7: rgb(66, 66, 66);
$SECONDARY1: #d66d75;
$SECONDARY2: #ed4264;
$SECONDARY3: #d76d77;
$SECONDARY4: #6ee3f5d7;
$SECONDARY5: #ee9ca7ce;
$SECONDARY6: #ba5370;
$SECONDARY7: #420075;
$SECONDARY8: #008e97;
$SECONDARY9: #05475e;
$WHITE: #ffffff;
$BLACK: #000000;
